$bg-color: #fffffe;
$font-color: #535353;
$primary-color: #d02862;
$secondary-color: #007ca5;
$project-bg-color: rgba(0, 0, 0, 0.7);
$project-hover-color: #9b1f49;

$blog-tile-color: #FFF;

$resume-title-color: #004D4D;
$resume-panel-color: #004D4D;