@import "./variables.scss";

html {
  background-color: $bg-color;
  color: $font-color;
  font-family: sans-serif;
  line-height: 30px;
  padding: 25px 100px;
}

.section {
    margin: 75px 0;

    &:first-child {
        margin: 0;
    }
}

.section-title {
    color: $primary-title-color;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;

    &:before, &:after {
        content: " ";
        width: 70px;
        height: 2px;
        display: inline-block;
        background: #000;
        vertical-align: middle;
        margin: 0px 15px;
    }
}

.about-me {
    display: flex;
}

.profile-image {
    border-radius: 50%;
    vertical-align: middle;
    height: 250px;
    padding-left: 50px;
    margin-left: 50px;
}

.profile-desc {
    padding: 0 100px;
    vertical-align: middle;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    padding: 5px 20px;
    margin: 20px 10px;
    border-radius: 3px;
    background: #56778b;
    color: #FFF;
}

.findme-section {
    text-align: center;
}

.findme-link {
    img {
        width: 50px;
        padding: 20px;
    }
}

.projects-section {
    display: grid;
    grid-template: repeat(2, 100px) / repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
        color: #000;
        cursor: pointer;
        border: 1px solid #000;
    }
}