$bg-color: #fefff8;
$font-color: #535353;
$primary-title-color: #d33e71;// #ce0046;
$secondary-title-color: #007ca5; // #575757;
$project-bg-color: rgba(0, 0, 0, 0.5);
$project-hover-bg-color: #9b1f49;